.vertical-menu {
	width: 200px;
	background-color: rgb(248, 249, 250);
}

.menu {
	background-color: rgb(248, 249, 250);
	display: block;
	padding: 12px;
	text-decoration: none;
	font-family: 'Cabin', Sans-Serif;
	font-weight: 400;
	line-height: 1.75;
	color: rgb(27, 27, 27);
}

.menu:hover {
	background-color: rgb(157, 185, 102);
}
